[Unit]
Description=Check Pars2Ray for updates every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=60
Persistent=true
Unit=pars2ray-auto-update.service

[Install]
WantedBy=timers.target
